<?xml version="1.0"?>
<config>
    <modules>
        <Xuke_Mymodule>
            <version>0.1.0</version>    <!-- Version of module -->
        </Xuke_Mymodule>
    </modules>
    <frontend>
        <routers>
            <mymodule>
                <use>standard</use>
                <args>
                    <module>Xuke_Mymodule</module>
                    <frontName>mymodule</frontName>
                </args>
            </mymodule>
        </routers>
         <layout>
            <updates>
                <mymodule>
                    <file>mymodule.xml</file> <!-- Our layout file name-->
                </mymodule>
            </updates>
         </layout>
    </frontend>
    <global>
        <blocks>
            <mymodule>
                <class>Xuke_Mymodule_Block</class>
            </mymodule>
        </blocks>
    </global>
</config>