@mixin border_radius_func($tl, $tr,$bl,$br){

	-webkit-border-top-left-radius: $tl;
	-moz-border-top-left-radius: $tl;
	-ms-border-top-left-radius: $tl;
	-o-border-top-left-radius: $tl;
	border-top-left-radius: $tl;

	-webkit-border-top-right-radius: $tr;
	-moz-border-top-right-radius: $tr;
	-ms-border-top-right-radius: $tr;
	-o-border-top-right-radius: $tr;
	border-top-right-radius: $tr;

	-webkit-border-bottom-left-radius: $bl;
	-moz-border-bottom-left-radius: $bl;
	-ms-border-bottom-left-radius: $bl;
	-o-border-bottom-left-radius: $bl;
	border-bottom-left-radius: $bl;

	-webkit-border-bottom-right-radius: $br;
	-moz-border-bottom-right-radius: $br;
	-ms-border-bottom-right-radius: $br;
	-o-border-bottom-right-radius: $br;
	border-bottom-right-radius: $br;
}